@using BLL.Models.Comments;
@using DAL.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@model BLL.Models.Posts.PostViewModel
@inject UserManager<User> UserManager;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = @Model.Title;
}
<h3 class="text-start">@Model.Title</h3>
<div class="container">
    Теги:&nbsp
    @foreach (var tag in Model.Tags)
    {
        <a asp-action="PostsByTag" asp-route-id="@tag.Id" method="get" style="text-decoration:none">
            <span class="badge badge-info">@tag.Name&nbsp</span>
        </a>
    }
    <a asp-controller="User" asp-action="UserPage" asp-route-id="@Model.AuthorId" method="get" style="text-decoration:none;">
        <b style="float: right">Автор статьи: @UserManager.FindByIdAsync(Model.AuthorId).Result.GetFullName()
            <small class="text-muted" style="float: right;margin-top: 1%">&nbsp @Model.CreationDate</small>
        </b>
        
    </a>
</div>
<div class="card border-primary mb-3" style="width: auto;padding:2%">

    <h5>
        &nbsp&nbsp&nbsp&nbsp @Model.Content
    </h5>
</div>
@if (User.IsInRole("Модератор")
 || User.IsInRole("Администратор")
 || User.Claims.Any(c => c.Type == "Post" && c.Value == Model.Id))
{
    <ul class="flexbox" style="float:right">
        <li style="display:inline-block">
            <form asp-area="" asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.Id" method="get" style="max-width:max-content">
                <button type="submit" class="btn btn-warning">
                    <b>Редактировать</b>
                </button>
            </form>
        </li>
        <li style="max-width:max-content;display:inline-block">
            <form asp-area="" asp-controller="Post" asp-action="RemovePost" asp-route-id="@Model.Id" method="post" style="max-width:max-content">
                <button type="submit" class="btn btn-danger">
                    <b>Удалить</b>
                </button>
            </form>
        </li>
    </ul>
}
<button type="button" class="btn btn-info" id="addComment">Оставить комментарий</button>
<div id="commentForm" hidden>
    <partial name="_partialAddComment" model="@new CreateCommentViewModel{AuthorId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value, PostId = Model.Id}" />
</div>
@if (Model.Comments.Count != 0)
{
    <h4 style="margin-top:5%">Комментарии:</h4>
    @foreach (var comment in Model.Comments.OrderByDescending(с => с.CreationDate))
    {
        <div class="card border-primary mb-3" style="max-width: 50%; margin-left:4%">
            <div class="card-body" style="padding:10px">
                <div class="card-title" style="text-align:start">
                    <a asp-controller="User" asp-action="UserPage" asp-route-id="@comment.Author?.Id" method="get" style="text-decoration:none">
                        <b>@comment.Author?.GetFullName()</b>
                    </a>
                </div>
                <div class="card-subtitle mb-1">
                    "@comment.Content"
                </div>
                <div class="card-subtitle mb-2 text-muted" style="text-align: end; padding:5px">
                    <small class="card-subtitle mb-2 text-muted">@comment.CreationDate</small>
                </div>
                @if(User.IsInRole("Модератор")
               || User.IsInRole("Администратор")
               || User.Claims.Any(c => c.Type == "Comment" && c.Value == comment.Id))
                {
                    <ul class="flexbox" style="float:right">
                        <li style="display:inline-block">
                            <form asp-area="" asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id" method="get" style="max-width:max-content">
                                <button type="submit" class="btn btn-warning" style="font-size:10px">
                                    <b>Редактировать</b>
                                </button>
                            </form>
                        </li>
                        <li style="max-width:max-content;display:inline-block">
                            <form asp-area="" asp-controller="Comment" asp-action="RemoveComment" asp-route-id="@comment.Id" method="post" style="max-width:max-content">
                                <button type="submit" class="btn btn-danger" style="font-size:10px">
                                    <b>Удалить</b>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </div>
    }
}
<script src="../js/showCommentForm.js"></script>
