@using DAL.Models;
@model BLL.Models.Tags.AllTagsViewModel
@{
    ViewData["Title"] = "Список тегов";
}

<h3 class="text-center">Все теги</h3>
@if (User.IsInRole("Модератор") || User.IsInRole("Администратор"))
{
    <a asp-controller="Tag" asp-action="CreateTag" style="text-decoration:none;width:stretch;text-align:center;display:block"><b>Добавить тег</b></a>
}
@if (Model.Tags.Count != 0)
{
    @foreach (var tag in @Model.Tags)
    {
        <div class="card border-primary mb-3" style="width: 16rem">
            <a asp-action="PostsByTag" asp-controller="Post" asp-route-id="@tag.Id" method="get" style="text-decoration:none">
                <div class="card-body">
                    <div class="card-title">
                        <span class="badge badge-success">@tag.Name</span>
                    </div>
                    <div class="card-subtitle mb-2 text-muted" style="text-align: end; padding:0,6rem,0,0 ">
                        <small>Статей по тегу: @tag.Posts.Count()</small>
                    </div>
                    @if (User.IsInRole("Модератор")
                   || User.IsInRole("Администратор"))
                    {
                        <ul class="flexbox" style="float:right; padding-right:1%">
                            <li style="display:inline-block">
                                <a asp-area="" asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Id" method="get" style="max-width:max-content">
                                    <button type="submit" class="btn btn-warning" style="font-size:10px">
                                        <b>Редактировать</b>
                                    </button>
                                </a>
                            </li>
                            <li style="max-width:max-content;display:inline-block">
                                <form asp-area="" asp-controller="Tag" asp-action="RemoveTag" asp-route-id="@tag.Id" method="post" style="max-width:max-content">
                                    <button type="submit" class="btn btn-danger" style="font-size:10px">
                                        <b>Удалить</b>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    }
                </div>
            </a>
        </div>
    }
}
else
{
    <div>
        <label> Поиск не дал результатов.</label>
    </div>
}
